.mint {
    color:#00bd9d;
}
.mint-bg {
    background-color:#00bd9d;
}

.tiffany-blue {
    color:#8bd7d2;
}
.tiffany-blue-bg {
    background-color:#8bd7d2;
}

.snow {
    color:#fffbfa;
}
.snow-bg {
    background-color:#fffbfa;
}

.vivd-sky-blue {
    color:#54defd;
}
.vivd-sky-blue-bg {
    background-color:#54defd;
}

.vivid-blue {
    color:#49c6e5;
}
.vivid-blue-bg {
    background-color:#49c6e5;
}